{% for tutorial in tutorials %}
            <div class="tutorial">
                <div class="tutorial-head">
                    <img src="../app/core/videos/cover-img/{{ tutorial.img_cover }}" alt="video-poster">
                </div>
                <div class="tutorial-body">
                    <div class="info-1">
                        <span style="display: none;">{{ tutorial.id }}</span>
                        <span class="tutorial-title"><a>{{ tutorial.title }}</a></span>
                        <span class="tooltiptext">Click for details</span>
                    </div>
                    <div class="info-2">
                        <span class="tutorial-author">By {{ tutorial.created_by }}</span>
                        <small class="tutorial-date">{{ tutorial.created_date }}</small>
                    </div>
                </div>
                <div class="tutorial-foot">
                    {% block content %}{% endblock %}
                    <div class="like-cost-wrapper">
                        <span class="tutorial-like">
                            <img src="{{ BASEURL }}/svg/Green_Heart_Icon.svg" alt="like">
                            <span>{{ tutorial.total_like }}</span>
                        </span>
                        <span class="tutorial-cost">
                            <img src="{{ BASEURL }}/svg/green_dollar_icon.svg" alt="cost">
                            <span>{{ tutorial.prize }}</span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}